* {
  box-sizing: border-box;

}

body {
  background: url('./assets/unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.completed{
  text-decoration: line-through;
}

.steps{
  display: flex;
  flex-direction: column;
  width: 20em;
  margin: 0 auto;
  margin-top: 7.1em;
}

input {
  border: 1px red solid;
  background-color: rgba(255, 165, 0, 0.6);
  color: white;
  height: 4em;
}

button {
  border: 1px green solid;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-top: 0.2em;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.remove{

}

li {
  list-style-type: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 165, 0, 0.6);
  margin: 1em;
}
